# =========================
# Maven
# =========================
.m2/

# =========================
# Node.js
# =========================
node_modules/
dist/
coverage/

# =========================
# Environment
# =========================
.env
.env.*

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Java / Spring
# =========================
target/
*.class

# =========================
# Vite
# =========================
frontend/dist/