.speech-bubble {
  display: inline-block;

  padding: 18px 28px;

  background: white;

  border-radius: 28px;

  font-size: 2rem;

  font-weight: 700;

  box-shadow:
      0 6px 20px rgba(0,0,0,.12);

  position: relative;
}

.speech-bubble::after {
  content: "";

  position: absolute;

  left: 40px;
  bottom: -16px;

  width: 22px;
  height: 22px;

  background: white;

  transform: rotate(45deg);
}

